<link href="~/css/StyleLogin.css" rel="stylesheet">

<form action="/auth/create" method="post" enctype="multipart/form-data">
    <div class="login-form">
        <div class="box">
            <div class="container">
                <div class="p-2 user-img" style="text-align:center;">
                    <div class="add-photo" id="add-photo">
                        <img id="img" src="~/img/user2.png" width="50" height="50" alt="Cargar Imagen" style="cursor:pointer">
                    </div>
                    <input id="file" onchange="mostrar()" type="file" name="perfil" accept="image/x-png,image/gif,image/jpeg" />
                </div>
                <div class="text-danger">@Html.ValidationMessage("Username1")</div>
                <div class="text-danger">@Html.ValidationMessage("Password1")</div>
                <div class="mb-3">
                    <input type="text" class="form-control " name="Username" placeholder="User">
                    <div class="text-danger">@Html.ValidationMessage("Username")</div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                    <div class="text-danger">@Html.ValidationMessage("Password")</div>
                </div>        
                <div class="mb-3">
                    <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password">
                </div>
                <div class="text-danger">@Html.ValidationMessage("ConfirmPass")</div>
                <button onclick="regisUser()" class="btn btn-success botonLogin"><i class="fas fa-user-plus"></i> Register</button>
            </div>
        </div>
    </div>
</form>
                    