@{
    var transaction = (List<Transaction>)Model;
    var account = (Account)ViewBag.Account;
}
<div class="container-fluid px-4">
    <h2 class="mt-4 fst-italic text-center" style="color:white;">Transacciones - <span class="text-info">@account.Name</span></h2>
    <div class="justify-content-end">
        <p class="m-3 float-end fw-bold fst-italic" style="color:white;">Saldo: <span class="@(account.Amount > 0 ? "text-success":"text-danger")">S/. @string.Format("{0:N2}", account.Amount) </span></p>
        @if (account.TypeId == 3)
        {
            <p class="m-3 float-end fw-bold fst-italic" style="color:white;">Límite de Crédito: <span class="@(account.CreditLimit > 0 ? "text-success":"text-danger")">S/. @string.Format("{0:N2}", account.CreditLimit) </span></p>
        }
    </div>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a href="/transaction/transaction_create?cuentaId=@account.Id" class="btn btn-success">
                <i class="fas fa-plus-circle"></i>
                Crear Transacción
            </a>
            <a href="/account/index" class="btn btn-outline-info">
                <i class="fas fa-reply-all"></i> Ir a cuentas
            </a>
            <a href="/transaction/pdf?cuentaId=@account.Id" class="btn btn-outline-danger" target="_blank">
                <i class="fas fa-file-pdf"></i> PDF
            </a>
            <button id="btnPdf" class="btn btn-primary"> Generar PDF</button>
            <a href="/transaction/ReporteExcel?cuentaId=@account.Id" class="btn btn-outline-success">
                <i class="fas fa-file-excel"></i> Excel
            </a>
        </li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Transacciones
        </div>
        <div id="pdfContainer" class="card-body">
            <table id="datatablesSimple" class="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Motivo</th>
                        <th>Monto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in transaction)
                        {
                            <tr>
                                @if (item.Tipo == "Gasto")
                                {
                                    <td>
                                        <span class="text-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                            </svg>
                                            @item.Tipo
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="text-success">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                                            </svg>
                                            @item.Tipo
                                        </span>
                                    </td>
                                }
                                <td>@item.FechaHora.ToString("hh:mm tt - ddd dd MMM yyyy")</td>
                                <td>@item.Motivo</td>
                                <td>
                                    <div class="@(item.Tipo == "Gasto" ? "text-danger" : "text-success")">
                                        @String.Format("{0} {1:N2}","S/.", item.Monto)
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-outline-success" href="/transaction/transaction_edit?id=@item.Id"><i class="bi bi-pencil-square"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>









<table class="table table-dark table-striped">
</table>