@{
    Layout = null;
    var transactions = (List<Transaction>)Model;
    //var acc = (Account)ViewBag.Account;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<button id="btnPdf" class="btn btn-primary"> Generar PDF</button>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Imprimir Transacciones - </title>
    <link href="/css/mystyle.css" rel="stylesheet" />
</head>
<body>
    <div id="pdfContainer" class="contenedor">
        <table style="width:100%">
            <tr>
                <td>
                    @*<img src="" style="width: 250px;" />*@
                    <img src="~/files/acccount.png" style="width: 200px;" />
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td>
                                <p class="title2">USUARIO: </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>@User.Identity.Name</p>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <td style="text-align: left">
                    <table>
                        <tr>
                            <td style="padding-right: 3rem;"><p class="title">Tarjeta:</p></td>
                            @if (transactions.FirstOrDefault().Account.TypeId == 3)
                            {
                                <td><p class="title">Límite de Saldo:</p></td>
                            }
                        </tr>
                        <tr>
                            <td style="padding-right: 3rem;"><p class="text">@transactions.FirstOrDefault().Account.TypeId</p></td>
                            @if (transactions.FirstOrDefault().Account.TypeId == 3)
                            {
                                <td><p class="text">@string.Format("{0}{1:N2}","S/.",transactions.FirstOrDefault().Account.CreditLimit)</p></td>
                            }
                        </tr>
                    </table>
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td><p class="title">Fecha:</p></td>
                        </tr>
                        <tr>
                            <td><p class="text">@DateTime.Now.ToString("ddd dd MMM yyyy hh:mm tt")</p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <br />

        <table class="tbproductos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth">Cuenta</th>
                    <th class="tbth" style="width:130px">Transacción</th>
                    <th class="tbth" style="width:130px">Fecha</th>
                    <th class="tbth" style="width:130px">Motivo</th>
                    <th class="tbth" style="width:130px">Monto</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in transactions)
                    {
                        <tr>
                            <td class="td-item"><p class="item">@item.Account.Name</p></td>
                            <td class="td-item"><p class="item">@item.Tipo</p></td>
                            <td class="td-item"><p class="item">@item.FechaHora.ToString("ddd dd MMM yyyy hh:mm tt")</p></td>
                            <td class="td-item"><p class="item">@item.Motivo</p></td>
                            <td style="background-color:#EDF6F9; font-weight: bold"><p class="item">@string.Format("{0:N2}",item.Monto)</p></td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="3" rowspan="3" valign="bottom">
                    </td>
                </tr>
                <tr>
                    <td class="item-3">
                        <p>Total:</p>
                    </td>
                    <td class="td-item" style="background-color:#EDF6F9"><p class="item">@string.Format("{0:N2}",transactions.Sum(o => o.Monto))</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    $("#btnPdf").click(function () {
        var sHtml = $("#pdfContainer").html();
        sHtml = sHtml.replace(/</g, "StrTag").replace(/>/g, "EndTag");
        window.open('../Transaction/TransactionPdf?html=' + sHtml, '_blank');
    });
</script>